<%= form_with(model: [post, comment], url: post_comments_path(@post)) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-label" %>
  </div>
  <div class="actions">
    <%= f.submit "送信", class: "btn btn-outline-dark comment-submit float-right" %>
  </div>
<% end %>