<div class="row">
  <div class="col-md-12">
    <h4 class="text-center font_space">マイページ</h4>
    <p class="text-center">
      <%= attachment_image_tag user, :profile_image, fallback: "no_image_user.jpg", class: "rounded-circle", size: "150x150" %>
    </p>
  </div>
  <div class="col-md-12 m-1">
    <h4 class="font-weight-bold text-center"><%= user.name %></h4>
  </div>
  <div class="col-md-12 m-1">
    <p><%= user.introduction %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 m-1">
    <% if user.id == current_user.id %>
      <% if current_user.email != 'guest@example.com' %>
        <%= link_to " プロフィール編集", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
      <% end %>
    <% end %>
  </div>
</div>
