<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-3">
      <div>
        <%= render 'info', user: @user %>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-1">
      <div class="row">
        <div class="col-md-6 text-center">
          <h4 class="font_space">投稿一覧</h4>
        </div>
        <div class="col-md-6 text-center">
          <h4 class="font_space"><%= link_to "お気に入り投稿一覧", like_user_path(@user), class: "index-link" %></h4>
        </div>
      </div>
      <% if @posts.empty? %>
        <div class="card">
          <div class="text-center">
            まだ投稿されていません
          </div>
        </div>
      <% else %>
        <%= render 'posts/index', posts: @posts %>
      <% end %>
      <div class="row">
        <div class="mx-auto">
          <p class="d-flex align-items-center"><%= paginate @posts %></p>
        </div>
      </div>
    </div>
  </div>
</div>