<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="top mt-5 font-weight-bold">
        じもたび
      </h1>
      <h3 class="my-3">
        ~地元を旅して、魅力を再発見！~
      </h3>
    </div>
  </div>

  <div class="row">
    <%= render 'users/guest_sign_in' %>
  </div>
</div>

<section class="jimotabi about" id="about">
  <div class="container">
    <div class="row">
      <h1 class="about-h1 my-5 mx-auto font-weight-bold">
        「じもたび」とは？
      </h1>
      <div class="col-sm-12 text-center">
        <h4 class="my-3 mb-5">
          絶景スポットや知られざる穴場スポット、おすすめのご当地料理や名産品、伝統文化や工芸品...。
        </h4>
        <h4 class="my-3 mb-5">
          身近にあるけれどまだ知られていない地元地域に関するあらゆる情報を
        </h4>
        <h4 class="mt-3  mb-5">
          写真を使って保存・共有・発信することができるサービスです。
        </h4>
        <h4 class="my-3  mb-5">
          まだ見たことのない、体験したことのない地元の魅力
        </h4>
        <h4 class="mt-3">
        「じもたび」で再発見しませんか。
        </h4>
      </div>
    </div>

    <div class="row">
      <%= render 'users/guest_sign_in' %>
    </div>
  </div>
</section>

