<div class="card col-xs-8 col-sm-8 col-md-6 mx-auto my-5">
  <div class="card-body">
    <h2 class="mt-1 mb-3  font_space">投稿編集</h2>
    <%= form_with model: @post, local:true do |f| %>
      <%= render 'layouts/errors', obj: @post %>
      <%= render :partial => 'form', :locals => {:f => f, :edit_flag => true} %>
    <% end %>
  </div>
</div>