<div class="card col-sm-6 mx-auto my-5">
  <div class="card-body">
    <h2 class="mt-1 mb-3 font-weight-bold">新規投稿</h2>
    <%= form_with model: @post, local:true do |f| %>
      <%= render 'layouts/errors', obj: @post %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
</div>