<div class="container">
  <div class="row">
    <div class="card col-md-8 mx-auto">
      <div class="card-body">
        <h2 class="mt-1 mb-3  font_space">新規投稿</h2>
        <%= form_with model: @post, local: true do |f| %>
          <%= render 'layouts/errors', obj: @post %>
          <%= render :partial => 'form', :locals => {:f => f} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

