/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box
 }

 .heading {
   font-size: 32px;
 }

 body {
   font-family: 'Sawarabi Mincho', sans-serif;
 }

 .post-image{
   overflow: hidden; // 要素のボックスからはみ出した部分を隠す
   cursor: pointer; // マウスカーソルを手の形にする
   display: flex;
   align-items: center;
   justify-content: center;
 }



 .link {
   color:#C0C0C0;
 }

 .link:hover {
   color:#000;
 }

 .link:active {
   color:#999;
 }

 .title-link {
   color:#000;
 }

 .title-link:hover {
   color:#000;
 }

 .vertical-middle{
   display: inline-block; /* インライン要素にすることで横に回り込む */
   vertical-align: middle; /* 上下中央に寄せる */
 }

 .user-info {
   color:#C0C0C0;
 }

 .like-btn {
    width: 25px;
    height: 30px;
    font-size: 25px;
    color: #808080;
    margin-left: 20px;
 }

 .unlike-btn {
    width: 25px;
    height: 30px;
    font-size: 25px;
    color: #ffcc33;
    margin-left: 20px;
 }

 .fa-link {
   text-decoration: none;
 }

 .fa-link:hover {
   text-decoration:none;
 }

 .fa-link:active {
   text-decoration:none;
 }

 .show-link {
   color:#000;
 }

 .show-link:hover {
   color:#000;
 }