/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box
 }

 .heading {
   font-size: 32px;
 }

 body {
   font-family: 'Sawarabi Mincho', sans-serif;
 }

 .link {
   color:#C0C0C0;
 }

 .link:hover {
   color: #000;
 }

 .link:active {
   color: #999;
 }

 .title-link {
   color: #000;
 }

 .title-link:hover {
   color: #000;
 }

 .vertical-middle{
   display: inline-block; /* インライン要素にすることで横に回り込む */
   vertical-align: middle; /* 上下中央に寄せる */
 }

 .user-info {
   color: #C0C0C0;
 }

 .fa-link {
   text-decoration: none;
 }

 .fa-link:hover {
   text-decoration: none;
 }

 .fa-link:active {
   text-decoration: none;
 }

 .show-link {
   color: #000;
 }

 .show-link:hover {
   color: #000;
 }

 .img {
   opacity: 1;
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
 }

 .img:hover {
   opacity: .5;
 }

 .font_space {
  letter-spacing: 0.2em;
  font-weight: bold;
 }

 .pagination>li>a {
   border: none;     /*枠線をなくす*/
   color: #696969;   /*文字の色を変える*/
 }

 /* 表示しているページ番号のデザイン */
 .pagination>.active>a {
   background: #93c9ff;     /*背景の色を変える*/
   border-radius: 15px;     /*角を丸くする*/
 }

 /*ホバー時のデザイン*/
 .pagination>li>a:hover {
   border-radius: 15px;    /*角を丸くする*/
 }

 .tag_link {
   color: #000;
 }

 .tag_link:hover {
   color: #000;
 }

 .fa-hashtag {
   color: #C0C0C0;
 }

 .tag {
   display: inline-block;
 }