// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// html {
//   scroll-behavior: smooth;

// }

.top {
  width: 100%;
  height: 100vh;
  background-image: image-url("top_image.jpg");
  background-size: cover;
  background-position: center;
}

.top-visual {
  width: 100%;
  height: 100vh;
  background-color: rgba( 0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_content {
  text-align: center;
}

.top-title {
  font-size: 170px;
  color: #fff;
}

.top-theme {
  font-size: 40px;
  margin: 0;
  color: #fff;
}

.about {
  width: 100%;
  height: 100vh;
  background-image: image-url("about_image.jpg");
  background-size: cover;
  background-position: center;
}

.about-visual {
  width: 100%;
  height: 100vh;
  background-color: rgba( 0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_content {
  padding: 0 30px;
  text-align: center;
}

// .head{
//
// }

.about-head {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(transparent 50%, #ff9999 0%); // ラインマーカー
}

.about-body {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 3;
}

/* 画面幅が960px未満の時は */
@media (max-width: 959px) {
  .ps-br{
    display: none; /* PCの改行を隠す */
  }

  .top-title {
    font-size: 100px;
  }

  .top-theme {
    font-size: 30px;
  }

  .about-head {
    font-size: 40px;
  }

  .about-body {
    margin-top: 25px;
    line-height: 2;
    text-align: left;
  }
}

/* 画面幅が520px未満の時は */
@media (max-width: 519px) {
  .ps-br{
    display: none; /* PCの改行を隠す */
  }

  .top-title {
    font-size: 60px;
  }

  .top-theme {
    font-size: 17px;
    color: #fff;
  }

  .about-head {
    font-size: 20px;
  }

  .about-body {
    margin-top: 20px;
    line-height: 2;
    font-size: 17px;
    text-align: left;
  }
}